sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: oOSaEfzRBhQYaOnVYu9kmfqpNY3p6hbqn74JNhwLcrsL+E5tYFvXnpsTrb/RRk03CRfTqw+iLxMEQf4EU/TdXPy84b6938Ib6T/Pl0eQAQZzT8esXmIU7rt4WKHRjhylMxBRzQ2lefWiUHA1MT73gTphCRjwMNkWKipIE73Tx4IzfBm91wNmJSY3Z2cUYteI0iqqYQPM/BGoJ8kmICn3DFIjk+Ck9uBx5J53FHDLRxbjoL3qZdVeJQ8P5ZZmAt9CTRMzgEBMc9Vd+6ePj6gklmtZOGD4lAFbrIDCB+xk8uwZeRVJPQ9oCgW7bNryLkmP0XW+HMzPjoJssMBtLETO2jqNMXC7JEt5qHP2t3xca2Lnl6ld438Fz82Ha8CUh+CrHdpbWiI20vnd/rPBFqe4p6QjDSLPMVnRjMahlThDtVO02U8N/OCkWkHBBkFUHaTDfX2nh2/TSNCmLYRjflDWe/FdCf3GmuviRPiC4l2fkCbBCDtiLO5CiM37DtBVj1f1K7lERRApT+bxi0dgDQ1FDiopjkVlz0YcDqxzntpJ4S/bCMX8Gzx1g7a/tsi7IAcD+Z+jemuqhQS7QOT4LofWk+wKxwTBs2p4z2jH8apdCP9vJljh8UZ6kbZsAWsQN+wGWjN+v4PAaLXBMzvHEk3IXfFHH3a9J0H03SHrnQSaCu4=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Waverley--Or-Tis-Sixty-Years-Since---Volume-2_4965
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy